/*
	@ Harris Christiansen (code@HarrisChristiansen.com)
	November 2017
	Project: Hue Web Controls
*/

/* ------------------------ HTML/Body ------------------------- */

main {
	padding-top: 6px;
}

#msgs {
	height: 55px;
	overflow-y: scroll;
}

/* ------------------------ Buttons ------------------------- */

button.btn:hover {
	cursor: pointer;
}

.btn-xl {
	padding: .75rem 1.5rem;
	font-size: 1.5rem;
	line-height: 1.5;
	border-radius: .4rem;
}

.btn-orange {
	color: #111;
	background-color: #FFA500;
	border-color: #FFA500;
}

.btn-teal {
	color: #111;
	background-color: #11A2A6;
	border-color: #11A2A6
}

/* ------------------------ Room Layout ------------------------- */

.roomLayout {
	position: relative;
	background-color: #CCCCCC;
	width: 400px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

/* ------------------------ Light Types ------------------------ */

.circleLight, .squareLight, .rectLight {
	position: absolute;
	background-color: #0000FF;
	border: 1px solid #000000;
}
/*.circleLight::before {
	content: "";
	width: 1%;
	height: 1%;
	position: absolute;
	z-index: -1;
	box-shadow: 7px 7px 25px 25px #0000FF;
}*/
.circleLight:hover, .squareLight:hover, .rectLight:hover {
	cursor: pointer;
	border: 1.5px solid #000000;
}

.circleLight {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.squareLight {
	width: 25px;
	height: 25px;
	z-index: 0;
}
.rectLight {
	width: 25px;
	height: 50px;
	z-index: 0;
}

/* ------------------------ Light Positions ------------------------ */

.midbed_1 {
	top: 20px;
	left: 240px;
}
.midbed_2 {
	top: 20px;
	left: 260px;
}
.midbed_3 {
	top: 20px;
	left: 280px;
}
.tv_cabinet {
	top: 120px;
	left: 280px;
}
.glass_lamp {
	top: 200px;
	left: 100px;
}
.shelve_lamp {
	top: 100px;
	left: 10px;
}
.glass_cabinet {
	top: 100px;
	left: 250px;
}
.bloom_1 {
	top: 160px;
	left: 20px;
}
.bloom_2 {
	top: 160px;
	left: 40px;
}
.bloom_3 {
	top: 160px;
	left: 60px;
}
.play_1 {
	top: 180px;
	left: 20px;
}
.play_2 {
	top: 180px;
	left: 40px;
}
.play_3 {
	top: 180px;
	left: 60px;
}
.go_1 {
	top: 200px;
	left: 20px;
}
.go_2 {
	top: 200px;
	left: 40px;
}
.go_3 {
	top: 200px;
	left: 60px;
}


/* ------------------------ End ------------------------- */
